n8n-finance-logger-workflow2-monthly.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4e1a48db-befc-4248-8adf-ac0a5b5162ab",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SR-vc1i9xCdAr4ZhwDemlsHH9VNbvAcFtdiFA--Mvws",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SR-vc1i9xCdAr4ZhwDemlsHH9VNbvAcFtdiFA--Mvws/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        -160
      ],
      "id": "af3da342-b5ba-4cf6-8ef1-51e7d2fd9aa3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "drwDgpzK3ziJRmg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1SR-vc1i9xCdAr4ZhwDemlsHH9VNbvAcFtdiFA--Mvws",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 911355320,
          "mode": "list",
          "cachedResultName": "GAINZ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SR-vc1i9xCdAr4ZhwDemlsHH9VNbvAcFtdiFA--Mvws/edit#gid=911355320"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        64
      ],
      "id": "5b3d0968-52a3-4b91-b4be-8b70750365bd",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "drwDgpzK3ziJRmg1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map(item => ({ json: item.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -48
      ],
      "id": "95ce8e44-c2d0-4f17-8360-2f147de9b312",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\nconst currentMonth = now.getMonth();\nconst currentYear = now.getFullYear();\n\nconst monthNames = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst monthName = monthNames[currentMonth];\nconst targetMonth = currentMonth;\nconst targetYear = currentYear;\n\nconst expenses = items\n  .filter(i => i.json.CATEGORY !== undefined && i.json.CATEGORY !== 'CATEGORY')\n  .filter(e => {\n    const d = new Date(e.json.DATE);\n    return d.getMonth() === targetMonth && d.getFullYear() === targetYear;\n  });\n\nconst gainz = items\n  .filter(i => i.json.SOURCE !== undefined && i.json.SOURCE !== 'SOURCE')\n  .filter(g => {\n    const d = new Date(g.json.DATE);\n    return d.getMonth() === targetMonth && d.getFullYear() === targetYear;\n  });\n\nconst totalExpenses = expenses.reduce((sum, e) => sum + Number(e.json.AMOUNT || 0), 0);\nconst totalGainz = gainz.reduce((sum, g) => sum + Number(g.json.AMOUNT || 0), 0);\nconst balance = totalGainz - totalExpenses;\nconst balanceSign = balance >= 0 ? '+' : '';\n\nconst categories = {};\nexpenses.forEach(e => {\n  const cat = e.json.CATEGORY || 'Other';\n  categories[cat] = (categories[cat] || 0) + Number(e.json.AMOUNT || 0);\n});\n\nconst sortedCats = Object.entries(categories).sort((a, b) => b[1] - a[1]);\nconst catLines = sortedCats.length > 0\n  ? sortedCats.map(([cat, amt]) => '  - ' + cat + ': P' + Number(amt).toLocaleString()).join('\\n')\n  : '  None';\n\nconst topCategory = sortedCats.length > 0 ? sortedCats[0] : null;\n\nconst emailBody = 'SALAPI - MONTHLY FINANCE SUMMARY\\n'\n  + monthName + ' ' + targetYear + '\\n'\n  + '='.repeat(35) + '\\n\\n'\n  + 'GAINZ: +P' + totalGainz.toLocaleString() + ' (' + gainz.length + ' transactions)\\n'\n  + 'EXPENSES: -P' + totalExpenses.toLocaleString() + ' (' + expenses.length + ' transactions)\\n'\n  + 'BALANCE: ' + balanceSign + 'P' + balance.toLocaleString() + '\\n\\n'\n  + 'CATEGORY BREAKDOWN:\\n' + catLines + '\\n\\n'\n  + (topCategory ? 'Top Spender: ' + topCategory[0] + ' (P' + Number(topCategory[1]).toLocaleString() + ')' : 'No expenses this month') + '\\n\\n'\n  + '='.repeat(35) + '\\n'\n  + 'Total transactions: ' + (expenses.length + gainz.length) + '\\n'\n  + 'Stay on top of your finances, one text at a time.\\n'\n  + '-- Salapi Finance Bot';\n\nconst subject = 'Salapi Summary - ' + monthName + ' ' + targetYear;\n\nreturn [{ json: { emailBody, subject } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -48
      ],
      "id": "b3874a20-fbe2-4bdc-9335-e2553daed979",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "yoroleo10@gmail.com",
        "subject": "=\t{{ $json.subject }}",
        "emailType": "text",
        "message": "=\t{{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        -48
      ],
      "id": "4e59cd2d-f714-41dc-9f3d-bd5adf934b8e",
      "name": "Send a message",
      "webhookId": "7d88d394-7937-40a3-a6a4-6bdc605a222a",
      "credentials": {
        "gmailOAuth2": {
          "id": "sXS3M6JFjq3CvCQg",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f4b372cd-7f96-4266-a6b0-6fd895a63b3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a456bd11251ee21cc028b851f01db025af6888d7b009aa3f85d8653800558eed"
  },
  "id": "FH44Ch6NZNNzEl4x",
  "tags": []
}